/* google font */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  color: white;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: #222;
}
/* navbar */
.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.nav-container {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.nav-left {
  display: flex;
  /* background-color: chartreuse; */
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.nav-name {
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: 0.2rem;
}
.nav-right {
  margin-left: auto;
}
.nav-items-container {
  display: flex;
  flex-wrap: wrap;
}
.nav-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 1rem;
}
.nav-items {
  margin: 1rem;
  list-style-type: none;
}
.nav-items-link {
  text-decoration: none;
}
.nav-items-link:hover {
  color: #3d82fc;
}
/* hero section */
.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}
.hero-image {
  min-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}
.hero-left,
.hero-right {
  width: 100%;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.title {
  font-size: 3rem;
  text-align: center;
  font-weight: 400;
}
.hero-container .title {
  text-align: left;
  padding-left: 1rem;
  /* background-color: rgb(212, 219, 205); */
}
.description {
  padding: 0 1rem;
  font-size: 1rem;
  line-height: 2rem;
  text-align: justify;
}
/* media screen */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 980px;
  }
  .hero-left {
    width: 40%;
  }
  .hero-right {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1340px;
  }
}
